## useDynLib(nextpot, .registration = TRUE)

## import(Renext)
import(potomax)
import(revdbayes)
importFrom("nieve", "dGEV", "pGEV", "qGEV", "rGEV")
importFrom("nieve", "dGPD2", "pGPD2", "qGPD2", "rGPD2")
importFrom("dplyr", "filter")
importFrom("tidyr", "gather")
import(ggplot2)
importFrom("reshape2", "melt")
importFrom("Matrix", "invPerm")
importFrom("scales", "trans_new")

import("stats", except = c("filter"))
import(graphics)
## import(testthat)
import(coda)
import(nloptr)

export(credInt, formatLevel, quant2GEV,
       dCGPD, pCGPD, qCGPD, rCGPD,
       poisGPBayes,
       checkParNames,
       GEVBayes0, poisGPBayes0,    ## Poor Man's Posteriors 
       as.poisGPBayes0)

## ============================================================================
## Poor Man's Posteriors class "Bayes0": a virtual class from which
## 'GEVBayes0' and 'poisGPBayes0' inherit.
## ============================================================================

S3method(coef, "Bayes0")
S3method(vcov, "Bayes0")
S3method(summary, "Bayes0")
S3method(print, "Bayes0")
S3method(print, "summary.Bayes0")

## Class "GEVBayes0"
## 
S3method(predict, "GEVBayes0")
S3method(RL, "GEVBayes0")

## Class "poisGPBayes0"
##
S3method(predict, "poisGPBayes0")

## ============================================================================
## Class "poisGPBayes0" 
## ============================================================================

## S3method(coef, "poisGPBayes0")        -> inherited from 'Bayes0'
## S3method(vcov, "poisGPBayes0")        -> inherited from 'Bayes0'
## S3method(summary, "poisGPBayes0")     -> TEMPORARILY inherited from 'Bayes0'
S3method(predict, "poisGPBayes0")
S3method(RL, "poisGPBayes0")
S3method(autoplot, "poisGPBayes0")

S3method(as.poisGPBayes0, "poisGPBayes0")

## ============================================================================
## Class "poisGPBayes0". The methods are actually implemented for the class
## "poisGPBayes0"
## ============================================================================

S3method(coef, "poisGPBayes") 
S3method(vcov, "poisGPBayes") 
S3method(summary, "poisGPBayes")

S3method(predict, "poisGPBayes")
S3method(RL, "poisGPBayes")
S3method(autoplot, "poisGPBayes")

S3method(as.poisGPBayes0, "poisGPBayes")

## ============================================================================
## Class "GEVBayes0". The methods are actually implemented for the class
## "poisGPBayes0"
## ============================================================================

S3method(autoplot, "GEVBayes0")

## ============================================================================
## Methods for objects containing RL or predictions
## ============================================================================

S3method(autoplot, "RL.poisGPBayes")
S3method(autoplot, "RL.GEVBayes")


S3method(autolayer, "predRL")
S3method(autoplot, "predRL")
S3method(autoplot, "predRLList")
